<%- include ('../partials/header.ejs') %>


<% if (events.length > 0) { %>
  <h3>Your Meetups</h3>
  <% events.forEach(function(event) { %>
    <div><%= event.title %></div>
    <a href="/events/<%= event._id %>"><%= event.title %></a>
    <form>
      <button type="submit" formaction="/events/<%= event._id %>?_method=DELETE" formmethod="post" value="Delete">
      </button>
      <button type="submit" formaction="/events/<%= event._id %>/edit" formmethod="get" value="Edit">
      </button>  
  </form>
    <div><%= event.location %></div>
    <div><%= event.description %></div>
    <div><%= event.category %></div>
    <div><%= event.host.firstName + ' ' + event.host.lastName %></div>
    <div><%= (new Date(event.startTime)).toLocaleString() %></div>
    <div><%= (new Date(event.endTime)).toLocaleString() %></div>
    <div><%= event.image %></div>
  <% }) %>
<% } else { %>
  <h3>You have no meetups</h3>
<% } %>


<%- include ('../partials/footer.ejs') %>
