<%- include ('../partials/header.ejs') %>
<div class="content">
    <div class="current-events-container">
        <div class="activities-body">
            <% Object.keys(eventObject).forEach(category => { %>
                <h2><%= category %></h2>
                <ul>
                    <% eventObject[category].forEach(event => { %>
                        <li><a href="/events/<%= event.id %>"><%= event.title %></a></li>
                    <% }) %>
                </ul>
            <% }) %>
        </div>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>
