<%- include ('../partials/header.ejs') %>
    <div class = "content">
        <div class="current-events-container">
            <% category.forEach(category => { %>
              <div class="current-events">
                <div class="activities">
                  <div class="activities-header">
                    <h1><%= category %></h1>
       
                  </div>
                  <div class="activities-body">
                    <% events.forEach(event => { %>
                      <% if (event.category === category) { %>
                        <ul>
                          <li><a href="/events/<%= event.id %>"><%= event.title %></a></li>
                        </ul>
                      <% } %>
                    <% }) %>
                  </div>
                </div>
              </div>
            <% }) %>
    </div>
    <%- include ('../partials/footer.ejs') %>