<%- include ('../partials/header.ejs') %>
<div class="main-content">
    <h1><b><%= event.title %></b></h1>
    <small>Posted <%= story.createdAt%> by <%= story.author.firstName + ' ' + story.author.lastName%></small>
    <div class="event-highlights">
        <img src=/<%= event.image %> alt="Improv Photo" class="image">
        <p><strong><%= event.category %></strong></p>
        <p><strong>Host:</strong> <%= event.hostName %></p>
        <p><strong>Start Time</strong> <%= event.startTime %></p>
        <p><strong>End Time</strong> <%= event.endTime %></p>
        <p><strong>Location:</strong> <%= event.location %></p>
    </div>

    <div class="event-description">
        <h2>Details:</h2>
        <p><%= event.content %></p>
    </div>
</div>
    <%- include ('../partials/footer.ejs') %>