<%- include ('../partials/header.ejs') %>
<div class="main-content">
    <h1><%=event.title %></h1>
    <h1>Start Time: <%= (new Date(event.startTime)).toLocaleString() %>
    <h1>End Time: <%= (new Date(event.endTime)).toLocaleString() %>
    <%= event.host.firstName + ' ' + event.host.lastName %>
    <h1><%=event.location %></h1>
    <h1><%=event.description %></h1>
    <img class="card-img-top" src="/<%= event.image %>" alt="<%= event.title %> improv pic" style="object-fit: cover;" width="286" height="398">
    <h1><%=event.category %></h1>


    <form>
        <% if (user) { %>
          <% if (user.id == event.host._id) { %>
          <% } else if (user.id !== event.host._id) { %>
            <div class="buttons">
              <label class="rsvp-label">Attending: </label>
              <button class="rsvp-button yes" type="submit" formmethod="POST" name="status" value="Yes" formaction="/events/<%= event._id %>/rsvp">Yes</button>
              <button class="rsvp-button no " type="submit" formmethod="POST" name="status" value="No" formaction="/events/<%= event._id %>/rsvp">No</button>
              <button class="rsvp-button maybe" type="submit" formmethod="POST" name="status" value="Maybe" formaction="/events/<%= event._id %>/rsvp">Maybe</button>
            </div>
          <% } %>
        <% } %>
      </form>
    
    
</div>
    <%- include ('../partials/footer.ejs') %>