<%- include ('../partials/header.ejs') %>
<div class="main-content">
    <h1><%=event.title %></h1>
    <h1>Start Time: <%= (new Date(event.startTime)).toLocaleString() %>
    <h1>End Time: <%= (new Date(event.endTime)).toLocaleString() %>
    <%= event.host.firstName + ' ' + event.host.lastName %>
    <h1><%=event.location %></h1>
    <h1><%=event.description %></h1>
    <img class="card-img-top" src="/<%= event.image %>" alt="<%= event.title %> improv pic" style="object-fit: cover;" width="286" height="398">
    <h1><%=event.category %></h1>
    
    
</div>
    <%- include ('../partials/footer.ejs') %>